/*
 * Custom keymap for a Corne/Crkbd with a Tenstar nRF52840 controller
 * compatible with nice!nano v2.
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define LOCK    3

/ {
    combos {
        compatible = "zmk,combos";

        combo_lock {
            timeout-ms = <100>;
            key-positions = <37 40>;
            bindings = <&tog LOCK>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp ESC    &kp Q     &kp W     &kp E      &kp R      &kp T        &kp Y    &kp U     &kp I      &kp O     &kp P     &kp BSPC
&kp TAB    &kp A     &kp S     &kp D      &kp F      &kp G        &kp H    &kp J     &kp K      &kp L     &kp SEMI  &kp RET
&kp LSHFT  &kp Z     &kp X     &kp C      &kp V      &kp B        &kp N    &kp M     &kp COMMA  &kp DOT   &kp FSLH  &kp RSHFT
                              &kp LCTRL   &mo LOWER  &kp SPACE    &kp SPACE &mo RAISE &kp RALT
            >;
        };

        lower_layer {
            display-name = "Lower";
            bindings = <
&kp GRAVE  &kp N1        &kp N2        &kp N3        &kp N4        &kp N5          &kp N6    &kp N7    &kp N8    &kp N9     &kp N0       &kp BSPC
&trans     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &kp J        &kp RET
&trans     &trans        &trans        &trans        &trans        &trans          &trans    &trans    &trans    &trans     &bootloader  &bt BT_CLR_ALL
                                         &trans       &trans        &trans          &trans    &trans    &trans
            >;
        };

        raise_layer {
            display-name = "Raise";
            bindings = <
&kp ESC    &kp EXCL  &kp AT     &kp HASH  &kp DLLR   &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &kp BSPC
&trans     &kp SQT   &kp GRAVE  &kp TILDE &kp CARET  &trans       &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH  &kp PIPE
&trans     &trans    &trans     &trans    &trans     &trans       &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp DQT   &bt BT_CLR
                              &trans      &trans     &kp SPACE    &kp RET    &trans     &kp RALT
            >;
        };

        lock_layer {
            display-name = "LOCK";
            bindings = <
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
                              &none  &none  &none    &none  &none  &none
            >;
        };
    };
};
